@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

.flexbox-container{
    display: flex;
    justify-content: center;
    vertical-align: center;
}

/*THEAD*/
.pricing-plan-table{
    font-family: 'Arimo', sans-serif;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 50px auto;
    border: 22px solid #3a4965;
    color: #484848;
}

.thead-pricing-plan-table{
    font-weight: bold;
}

.pricing-plan-table td, th{
    width: 277px;
    vertical-align: middle;
    box-shadow: 4px 0px 5px -4px #757575 inset;
}

.pricing-plan-table i {
    color: #848484;
    padding-right: 10px;
}

 .table-row{
    height: 70px;
}

.table-row:nth-of-type(even) {
    background-color: #e3e3e3;
}

.table-row:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.pricing-plan{
    background-color: #fafafa;
    font-size: 18px;
    color: #484848;
}

.pricing-plan>p>span{
    font-size: 30px;
}

.standard-package{
    background-color: #89c331;
    font-size: 24px;
    height: 70px;
    color: #ffffff;
}

.ultimate-package{
    background-color: #f04a56;
    font-size: 30px;
    color: #ffffff;
}

.premium-package{
    background-color: #20807c;
    font-size: 24px;
    color: #ffffff;
}

.price-value{
    height: 86px;
    background-color: #fafafa !important;
    font-size: 60px;
    text-align: left;
}

.price-value>td>sup{
    font-size: 24px;
    vertical-align: super;
}

.standard-price, .ultimate-price, .premium-price{
    position: relative;
}

.purchase-period{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: lighter;
    position: absolute;
    top: 47px;
    left: 136px;
}
/*TFOOT*/
.purchase-button{
    font-size: 16px;
    width: 192px;
    height: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #484848;
    box-shadow: 0 9px 0 #404040;
    border: none;
    border-radius: 2px;
    padding-top: 5px;
    transition: .5s;
    cursor: pointer;
}

.pricing-plan-table-buttons .purchase-button:hover{
    color: #404040;
    background-color: #4ba4f2;
    box-shadow: 0 7px 0 #4ba7f9;
}

.pricing-plan-table-buttons td{
   height: 110px;
}

.pricing-plan-table-buttons .standard-package-button{
    background-color: #89c331;
    box-shadow: 0 9px 0 #79b027;
}

.pricing-plan-table-buttons .ultimate-package-button{
    background-color: #f04a56;
    box-shadow: 0 9px 0 #df3a46;
}

.pricing-plan-table-buttons  .premium-package-button{
    background-color: #20807c;
    box-shadow: 0 9px 0 #16736f;
}

.pricing-plan-table-buttons  td:nth-of-type(1){
    background-color: #dddddd;
    border-right: 2px solid #a5a3a2;
}

.pricing-plan-table-buttons  td:nth-of-type(2){
    background-color: #eeeeee;
}

.pricing-plan-table-buttons  td:nth-of-type(3){
    background-color: #f4f4f4;
}

.pricing-plan-table-buttons  td:nth-of-type(4){
    background-color: #eeeeee;
}




